.course_card_row{
    gap: 30px;
    /* flex-wrap: wrap; */
}

.course_card_col{
    /* height: 250px; */
    width: 30%;
}

@media (max-width:767px){
    .course_card_col{
        width: 40%;
    }
}

@media (max-width:575px){
    .course_card_col{
        width: 90%;
    }
}