.courses_card{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif;
    height: 250px;
    width: 30%;
}

@media (max-width:767px){
    .courses_card{
        width: 40%;
    }
}

@media (max-width:575px){
    .courses_card{
        width: 90%;
    }
}